html {
    display: flex;
}

body {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(images/tabletop.jpg);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

#paper {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 800px;
    background: white;
    padding: 50px;
    box-shadow: 5px 5px 10px;
    rotate: -2deg;
}

.btn {
    width: 200px;
    height: 200px;
    border: none;
    background-size: 100% 100%;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px black;
}

#black {
    background-image: url(images/black.jpg);
    color: white;
}

#blue {
    background-image: url(images/blue.jpg);
    color: white;
}

#green {
    background-image: url(images/green.jpg);
    color: white;
}

#orange {
    background-image: url(images/orange.jpg);
    color: white;
}

#purple {
    background-image: url(images/purple.jpg);
    color: white;
}

#red {
    background-image: url(images/red.jpg);
    color: white;
}

#white {
    background: white;
    color: white;
}

#yellow {
    background-image: url(images/yellow.jpg);
    color: white;
}

#inner-wrapper {
    height: 800px;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: goldenrod;
    font-size: 2em;
    font-weight: bolder;
}

#text {
    font-family: 'Bonheur Royale', cursive;
    font-size: 2em;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
}

#top, #bottom {
    width: 800px;
    height: 150px
}

#bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


#border {
    display: flex;
    flex: 1 1 800px;
    width: 800px;
    height: 800px;
    background-color: red;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 45px 45px 45px, inset 0px 0px 35px black;
    margin: 0px;
}

#container {
    display: grid;
    width: 550px;
    min-width: 550px;
    max-width: 550px;
    height: 550px;
    min-height: 550px;
    max-height: 550px;
    background-color: rgb(205, 200, 200);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 35px black, inset 0px 0px 10px black;
    padding: 0px;
    margin: 0px;
}



.circle {
    width: 115px;
    height: 115px;
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 3px rgb(35, 35, 35);
    border: 3px solid rgb(233, 233, 233);
    border-radius: 50%;
    box-shadow: 10px 10px 20px black, inset 0px 0px 40px white;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(171, 171, 171);
    margin-left: 25px;
    margin-right: 25px;

}